.dropdown-menu {
	display: block;
	visibility: hidden;
	opacity: 0;
	transform: translateY(100px);
	transition: 0.5s ease all;
}
.dropdown-menu.show {
	display: block;
	visibility: visible;
	opacity: 1;
	transform: translateY(0px);
	transition: 0.5s ease all;
}
